In [4]:
import pandas as pd
import requests
import sqlalchemy
import pymysql

In [5]:
host = '127.0.0.1'
schema = 'gans'
user = 'root'
password = 'Mysqlpark2022!'
port = 3306
con = f'mysql+pymysql://{user}:{password}@{host}:{port}/{schema}'

In [11]:
city_df = pd.read_sql('city',con=con)
city_df

                city         country  population        lat       long
0           Istanbul          Turkey    15840900  41.013611  28.955000
1             Moscow          Russia    12632409  55.750000  37.616667
2             London  United Kingdom     8799800  51.507222  -0.127500
3   Saint Petersburg          Russia     5376672  59.950000  30.300000
4             Berlin         Germany     3677472  52.516667  13.383333
..               ...             ...         ...        ...        ...
67           Yerevan         Armenia     1092800  40.181000  44.510000
68           Cologne         Germany     1073096  50.936389   6.952778
69          Voronezh          Russia     1057681  51.671667  39.210556
70              Perm          Russia     1034002  58.000000  56.316667
71         Volgograd          Russia     1028036  48.700000  44.516667

[72 rows x 5 columns]

In [7]:
API_key = '29f3c126993ad4136d3ad1375c76a0be'

In [8]:
weather_dict = {'city_id':[],
                'time':[],
                'temp':[],
                'wind_speed':[]}

In [12]:
for i, city in enumerate(city_df['city_id']):
    url = f"http://api.openweathermap.org/data/2.5/forecast?lat={city_df.iloc[i]['lat']}&lon={city_df.iloc[i]['long']}&appid={API_key}&units=metric"
    response = requests.get(url)
    weather_json = response.json()
    for time in weather_json['list'][:9]:
        weather_dict['city_id'].append(city)
        weather_dict['time'].append(time['dt_txt'])
        weather_dict['temp'].append(time['main']['temp'])
        weather_dict['wind_speed'].append(time['wind']['speed'])

KeyError: 'city_id'

In [ ]:
weather_df = pd.DataFrame(weather_dict)
weather_df.info()

In [ ]:
weather_df

In [ ]:
weather_df.to_sql('weather',con=con,if_exists='append',index=False)